<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>112395684153-na9l410rqenrqa0lj48i0cbgrhcdsi8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.112395684153-na9l410rqenrqa0lj48i0cbgrhcdsi8l</string>
	<key>API_KEY</key>
	<string>AIzaSyD9eri45ePd0SqLGMFYTY39YLdhewV2C_g</string>
	<key>GCM_SENDER_ID</key>
	<string>112395684153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michalszpyruk.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-f6a7c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-f6a7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112395684153:ios:c5db5e1e84e0eacf5e80e8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-f6a7c.firebaseio.com</string>
</dict>
</plist>